.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    word-wrap: break-word;
    background: rgba(0,0,0,0.5);
    padding: 0.9em;
    border-left: 2px solid;
    font-size: small;
}
.hover-attribute-label {
    display: block;
}
.hover-attribute-key {
    display: block;
}
.hover-attribute-value {
    margin-left: 1em;
}
:global(.oui-tick-marks) .hover {
    left: 10%;
}
