.bar-enter, .bar-appear {
  opacity: 0.01;
  transform: translate3d(0, 100%, 0);
}
.bar-enter.bar-enter-active,
.bar-appear.bar-appear-active {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
  transition: opacity 0.75s ease-in, transform 0.75s ease-in;
}

.bar-leave {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
}

.bar-leave.bar-leave-active {
  opacity: 0.01;
  transform: translate3d(0, 100%, 0);
  transition: opacity 0.75s ease-in, transform 0.75s ease-in;
}
