.bar-enter,
.bar-appear {
  opacity: 0.01;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.bar-enter.bar-enter-active,
.bar-appear.bar-appear-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  -webkit-transition: opacity 0.75s ease-in, -webkit-transform 0.75s ease-in;
  transition: opacity 0.75s ease-in, transform 0.75s ease-in;
}

.bar-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
}

.bar-leave.bar-leave-active {
  opacity: 0.01;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: opacity 0.75s ease-in, -webkit-transform 0.75s ease-in;
  transition: opacity 0.75s ease-in, transform 0.75s ease-in;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.legend-color {
  width: 1em;
  height: 1em;
}

.legend-label {
  padding: 0 0.4em;
}
